<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo de Contacto</title>
</head>

<body>
    <div style="@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,400,500,600,700);
    font-family: 'Montserrat', sans-serif;">
        <table style="margin:0 auto;">
            <tbody>
                <tr style="text-align: center;">
                    <td>
                        <a href="https://ecovitali.com/"><img src="https://i.ibb.co/d55sT95/Logo-Ecovitali-Blanco.png"
                                style="width: 50%; margin-bottom: 10px;"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://i.ibb.co/JCzxWw8/banner-proveedores-clientes.png" alt="banner-proveedores-clientes">

                    </td>
                </tr>
            </tbody>
        </table>
        <table style="margin:0 auto; width: 60%;">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <p style="font-size: 36px; font-weight: 600;">¡Hola <%= nombre %>!</p>
                        <p style="font-size: 15px;">
                            Hemos recibido tu mensaje, pronto te contactaremos para resolver cualquier duda que tengas.
                        </p>
                        <p style="font-size: 15px;">En caso de necesitar un asesor comercial, por favor comunícate con nuestro canal de ventas al WhatsApp 097 922 8372 o nuestro email contabilidad@ecovitali.net</p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <img src="https://i.ibb.co/c2QrJvn/banner-divisiones.png" alt="banner-divisiones">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <img src="https://i.ibb.co/5sB3HP1/logo-ecovitali-footer.png" style="margin-top: 15px;" alt="logo-ecovitali-footer">
                        <p style="margin-right:10px; font-size: 12px;">Copyright © 2024 ECOVITALI Ecuador</p>
                        <a href="https://www.ecovitali.net" style="font-size: 12px;">www.ecovitali.net</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>


